/eclipse/
/forge/
/build/
/bin/
/.gradle/
/gradle/
/.settings/
.classpath
.project
gradlew
gradlew.bat
/target/
/maven/
/logs/
/saves/
/config/
/mod-config/
usernamecache.json

*.db
*.php
*.iml
*.txt

/.idea/
*.log