/eclipse/
/forge/
/build/
/bin/
/.gradle/
/gradle/
/.settings/
/.metadata/
.classpath
.project
gradlew
gradlew.bat
/target/
/maven/
/saves/
/config/
/logs/
/mod-config/
/orbis/

*.log
*.db
*.php
*.iml
*.txt

/.idea/
usernamecache.json